{% extends 'base.html.twig' %}

{% block title %}
	Car details
{% endblock %}

{% block body %}
	<h1>{{ car.marque }}</h1>
    <p>Agence: {{ car.Idagence }}</p>
    <p>Color: {{ car.couleur }}</p>
    <p>Carburant: {{ car.carburant }}</p>
    <p>Places: {{ car.places }}</p>
    <p>Description: {{ car.description }}</p>
	<hr>
	<a href="/admin/cars">Go Back</a>
{% endblock %}
