{% extends 'base.html.twig' %}

{% block title %}Cars Agency{% endblock %}

{% block body %}
  {% if voitures %}
    <table id="voitures" class="table table-striped">
      <thead>
        <tr>
          <th>Car Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for voiture in voitures %}
          <tr>
            <td>{{ voiture.title }}</td>
            <td>
              <a href="/voiture/{{ voiture.id }}" class="btn btn-dark">Show</a>
              <a href="/voiture/edit/{{ voiture.id }}" class="btn btn-light">Edit</a>
              <a href="/voiture/delete/{{ voiture.id }}" class="btn btn-danger delete-voiture" data-id="{{ voiture.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No voitures to display</p>
  {% endif %}

  {% if users %}
    <table id="voitures" class="table table-striped">
      <thead>
        <tr>
          <th>User email</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.email }}</td>
            <td>
              <a href="/voiture/{{ user.id }}" class="btn btn-dark">Show</a>
              <a href="/voiture/edit/{{ user.id }}" class="btn btn-light">Edit</a>
              <a href="/voiture/delete/{{ user.id }}" class="btn btn-danger delete-voiture" data-id="{{ user.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No users to display</p>
  {% endif %}

{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}