<!DOCTYPE html>

{% block body %}
	<br/>
	{% if availableCars %}
		<h1>All Available Cars</h1>
		<table id="availableCars" class="table table-striped">
			<thead>
				<tr>
					<th>Mark</th>
					<th>Matricule</th>
					<th>Color</th>
					<th>Places</th>
					<th>Availability</th>
					<th>Agency</th>
					{% if app.user.roles[0] == "ROLE_ADMIN" %}
					<th>Actions</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for voiture in availableCars %}
					<tr>
						<td>{{ voiture.marque }}</td>
						<td>{{ voiture.matricule }}</td>
						<td>{{ voiture.couleur }}</td>
						<td>{{ voiture.places }}</td>
						{% if voiture.Disponibilite == 0 %}
							<td>Not</td>
						{% else %}
							<td>Yes</td>
						{% endif %}
						<td>{{ voiture.idAgence }}</td>
						{% if app.user.roles[0] == "ROLE_ADMIN" %}
						<td>
							<a href="/admin/car/{{ voiture.id }}" class="btn btn-dark">Show</a>
							<a href="/admin/car/edit/{{ voiture.id }}" class="btn btn-light">Edit</a>
							<a href="/admin/car/delete/{{ voiture.id }}" class="btn btn-danger delete-voiture" data-id="{{ voiture.id }}">Delete</a>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
{% else %}
	<h1>0 Available Cars Was Found!</h1>
{% endif %}
<br/>
<br/>
{% if notAvailableCars %}
	<h1>All Cars Not Available</h1>
	<table id="notAvailableCars" class="table table-striped">
		<thead>
			<tr>
				<th>Mark</th>
				<th>Matricule</th>
				<th>Color</th>
				<th>Places</th>
				<th>Availability</th>
				<th>Agency</th>
				{% if app.user.roles[0] == "ROLE_ADMIN" %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for voiture in notAvailableCars %}
				<tr>
					<td>{{ voiture.marque }}</td>
					<td>{{ voiture.matricule }}</td>
					<td>{{ voiture.couleur }}</td>
					<td>{{ voiture.places }}</td>
					{% if voiture.Disponibilite == 0 %}
						<td>Not</td>
					{% else %}
						<td>Yes</td>
					{% endif %}
					<td>{{ voiture.idAgence }}</td>
					{% if app.user.roles[0] == "ROLE_ADMIN" %}
						<td>
							<a href="/admin/car/{{ voiture.id }}" class="btn btn-dark">Show</a>
							<a href="/admin/car/edit/{{ voiture.id }}" class="btn btn-light">Edit</a>
							<a href="/admin/car/delete/{{ voiture.id }}" class="btn btn-danger delete-voiture" data-id="{{ voiture.id }}">Delete</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>{% else %}
<h1>0 Cars To Give Back Was Found!</h1>{% endif %}{% endblock %}
